<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <logger name="applicationlog">
      <level value="all" />
      <appender-ref ref="ApplicationAppender" />
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    
    <appender name="ApplicationAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "D:\log\test\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--log保留天数-->
      <param name= "MaxSizeRollBackups" value= "10"/>
      <!--文件最大尺寸-->
      <param name= "MaximumFileSize" value="5MB"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name= "RollingStyle" value= "Date"/>
      <!--%p级别 %d日期 %m消息 %class类名 %n回车换行-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%-5p] %d %m - %class %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--应用到Appender对象的过滤器-->
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <!-- 系统日志 -->
    <appender name="SystemAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "D:\log\ws\system.log"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--log最大个数-->
      <param name= "MaxSizeRollBackups" value= "1"/>
      <!--文件最大尺寸-->
      <param name= "MaximumFileSize" value="10MB"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "true"/>
     
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%-5p] %d %m - %class %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--应用到Appender对象的过滤器-->
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>

    <!-- 控制台前台显示日志 -->
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="Info" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5p] %d{HH:mm:ss,fff} %m %n" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info" />
        <param name="LevelMax" value="Fatal" />
      </filter>
    </appender>

    <root>
      <!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
      <level value="all" />
      <appender-ref ref="SystemAppender"/>
    </root>
  </log4net>
</configuration>