@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="bitch" class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        <input type="button" id="fuckclick1" name="btn" value="GET-Basic"/>
        <input type="button" id="fuckclick2" name="btn" value="GET-[FromUri]-Bean]" />
        <input type="button" id="fuckclick3" name="btn" value="GET-Json-DeserializeObject" />
        <input type="button" id="fuckclick4" name="btn" value="POST-[FromBody]-SingeClass" />
        <input type="button" id="fuckclick5" name="btn" value="POST-Dynamic-MultyBasicPara" />
        <input type="button" id="fuckclick6" name="btn" value="POST-Dynamic-SingleBean(Bean)" />
        <input type="button" id="fuckclick7" name="btn" value="POST-Dynamic-SingleBean(JSON)" />
        <input type="button" id="fuckclick8" name="btn" value="POST-Dynamic-HirBird" />
        <input type="button" id="fuckclick9" name="btn" value="POST-Array-BasicPara" />
        <input type="button" id="fuckclick10" name="btn" value="POST-Array-BeanPara" />
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


@section scripts{
<script type="text/javascript" language="javascript">
    //window.alert("Click");
    $(document).ready(function () {
        $("#fuckclick1").click(function () {
            //window.alert("Click");
            $.ajax({
                type: "get",
                url: "http://localhost:8701/data/",
                data: { id: 1, name: "Jim", bir: "1988-09-11" },
                success: function (data, status) {
                    if (status == "success") {
                        $("#bitch").html(data);
                        //window.alert("Success");
                    }
                }
            });
        });

        var postdata = { ID: "2", NAME: "Sam", BIR: "1900-09-11" };
      $("#fuckclick2").click(function () {
            //window.alert("Click");
            $.ajax({
                type: "get",
                url: "http://localhost:8701/data/",
                data: postdata,
                success: function (data, status) {
                    if (status == "success") {
                        $("#bitch").html(data);
                        //window.alert("Success");
                    }
                }
            });
        })
      $("#fuckclick3").click(function () {
          //window.alert("Click");
          $.ajax({
              type: "get",
              url: "http://localhost:8701/data/",
              contentType: "application/json",
              data: { strQuery: JSON.stringify({ ID: "3", NAME: "JayChou", BIR: "1911-09-11" }) },
              success: function (data, status) {
                  if (status == "success") {
                      $("#bitch").html(data);
                  }
              }
          });
      })

      $("#fuckclick4").click(function () {
          //window.alert("Click");
          $.ajax({
              type: "post",
              url: "http://localhost:8701/data/getAllData4",
              data: { "": "Jim" },
              success: function (data, status) {
                  if (status == "success") {
                      $("#bitch").html(data);
                  }
              }
          });
      })
      $("#fuckclick5").click(function () {
          //window.alert("Click");
          $.ajax({
              type: "post",
              url: "http://localhost:8701/data/getAllData5",
              contentType: 'application/json',
              data:   JSON.stringify({ ID: "5", NAME: "JayChou", BIR: "1911-09-11" }) ,
              success: function (data, status) {
                  if (status == "success") {
                      $("#bitch").html(data);
                  }
              }
          });
      })
      $("#fuckclick6").click(function () {
          //window.alert("Click");
          $.ajax({
              type: "post",
              url: "http://localhost:8701/data/getAllData6",
              //contentType: 'application/json',
              data:{ ID: "5", NAME: "JayChou", BIR: "1911-09-11" },
              success: function (data, status) {
                  if (status == "success") {
                      $("#bitch").html(data);
                  }
              }
          });
      })
      $("#fuckclick7").click(function () {
          //window.alert("Click");
          var postdata = { ID: "5", NAME: "JayChou", BIR: "1911-09-11" };
          $.ajax({
              type: "post",
              url: "http://localhost:8701/data/getAllData7",
              contentType: 'application/json',
              data: JSON.stringify(postdata),
              success: function (data, status) {
                  if (status == "success") {
                      $("#bitch").html(data);
                  }
              }
          });
      })
      $("#fuckclick8").click(function () {
          //window.alert("Click");
          var postdata = { ID: "5", NAME: "JayChou", BIR: "1911-09-11" };
          $.ajax({
              type: "post",
              url: "http://localhost:8701/data/getAllData8",
              contentType: 'application/json',
              data: JSON.stringify({ Name: "Tomy", User:postdata }),
              success: function (data, status) {
                  if (status == "success") {
                      $("#bitch").html(data);
                  }
              }
          });
      })
      $("#fuckclick9").click(function () {
          //window.alert("Click");
          var arr = ["1",
              "2",
              "3"
      ];
          $.ajax({
              type: "post",
              url: "http://localhost:8701/data/getAllData9",
              contentType: 'application/json',
              data: JSON.stringify(arr),
              success: function (data, status) {
                  if (status == "success") {
                      $("#bitch").html(data);
                  }
              }
          });
      })
    });

    $("#fuckclick10").click(function () {
        //window.alert("Click");
        var arr = [{ ID: "5", NAME: "JayChou", BIR: "1911-09-11" },
        { ID: "6", NAME: "JayChou", BIR: "1911-09-11" },
        { ID: "7", NAME: "JayChou", BIR: "1911-09-11" }
        ];
        $.ajax({
            type: "post",
            url: "http://localhost:8701/data/getAllData10",
            contentType: 'application/json',
            data: JSON.stringify(arr),
            success: function (data, status) {
                if (status == "success") {
                    $("#bitch").html(data);
                }
            }
        });
    })

</script>

  
}